<footer class="site-footer">

  <div id="footer-strip">
    <img src="../assets/images/footer/compete2030.png" alt="">
    <img src="../assets/images/footer/alentejo2030.png" alt="">
    <img src="../assets/images/footer/algarve2030.png" alt="">
    <img src="../assets/images/footer/centro2030.png" alt="">
    <img src="../assets/images/footer/lisboa2030.png" alt="">
    <img src="../assets/images/footer/norte2030.png" alt="">
    <img src="../assets/images/footer/portugal2030_cofinanciadoUE.png" alt="">
  </div>

  <p><span data-project="year"></span> <span data-project="acronym"></span> - <span data-project="title"></span></p>

</footer>