
<header class="site-header">
  <nav class="navbar container">
    <div class="navbar-top">
      <div class="site-brand" data-project="acronym"></div>
      
      <button id="nav-toggle" class="nav-toggle" aria-label="Toggle navigation">
        ☰
      </button>
    </div>

    <div class="nav-links">
      <a href="/">Página Inicial</a>
      <a href="/resumo">Resumo</a>
      <a href="/parceiros">Parceiros</a>
      <a href="/noticias">Notícias &amp; Resultados</a>
      <a href="/contactos">Contactos</a>
    </div>
  </nav>
</header>
